* text=auto !eol
NewsLetters/2020/newsletter1.pdf -text
NewsLetters/2020/newsletter2.pdf -text
NewsLetters/2020/newsletter3.pdf -text
NewsLetters/2021/newsletter1.pdf -text
NewsLetters/2021/newsletter2.pdf -text
NewsLetters/2021/newsletter3.pdf -text
NewsLetters/2022/newsletter1.pdf -text
NewsLetters/2022/newsletter2.pdf -text
NewsLetters/2022/newsletter3.pdf -text
NewsLetters/2023/newsletter1.pdf -text
NewsLetters/2023/newsletter2.pdf -text
NewsLetters/2023/newsletter3.pdf -text
NewsLetters/README -text
UserMeetings/2007/Makefile -text
UserMeetings/2007/README -text
UserMeetings/2007/addresses.txt -text
UserMeetings/2007/agenda.txt -text
UserMeetings/2007/email.csh -text
UserMeetings/2007/fig/140px-Logo-a.png -text
UserMeetings/2007/fig/140px-Logo-a.ps -text
UserMeetings/2007/fig/logo_esf.png -text
UserMeetings/2007/fig/logo_esf.ps -text
UserMeetings/2007/fig/pauto-tests.png -text
UserMeetings/2007/fig/pauto-tests.ps -text
UserMeetings/2007/fig/pfile-size.png -text
UserMeetings/2007/fig/pfile-size.ps -text
UserMeetings/2007/fig/planetesimal.png -text
UserMeetings/2007/index.php -text
UserMeetings/2007/participants.txt -text
UserMeetings/2007/participants_expense.txt -text
UserMeetings/2007/participants_expenses.txt -text
UserMeetings/2007/report.pdf -text
UserMeetings/2007/report.tex -text
UserMeetings/2008/Makefile -text
UserMeetings/2008/agenda.txt -text
UserMeetings/2008/email.csh -text
UserMeetings/2008/funding.txt -text
UserMeetings/2008/funding_proposal.tex -text
UserMeetings/2008/funding_proposal_nova.txt -text
UserMeetings/2008/index.php -text
UserMeetings/2008/tshirts_orders.txt -text
UserMeetings/2009/Makefile -text
UserMeetings/2009/agenda.txt -text
UserMeetings/2009/fig/README -text
UserMeetings/2009/fig/autotests.png -text
UserMeetings/2009/fig/code_size.png -text
UserMeetings/2009/funding.txt -text
UserMeetings/2009/funding_dfg.tex -text
UserMeetings/2009/funding_proposal.tex -text
UserMeetings/2009/funding_proposal_dfg.tex -text
UserMeetings/2009/index.php -text
UserMeetings/2009/registrants.txt -text
UserMeetings/2009/talks.txt -text
UserMeetings/2010/agenda.txt -text
UserMeetings/2010/anelastic.pdf -text
UserMeetings/2010/conf_dinner.txt -text
UserMeetings/2010/index.php -text
UserMeetings/2010/program.txt -text
UserMeetings/2010/registrants.txt -text
UserMeetings/2010/round.txt -text
UserMeetings/2011/agenda.txt -text
UserMeetings/2011/index.php -text
UserMeetings/2011/tee-shirt/maquetteTshirt.jpeg -text
UserMeetings/2011/tee-shirt/maquetteTshirt_v2.jpeg -text
UserMeetings/2011/tee-shirt/maquetteTshirt_v3.jpeg -text
UserMeetings/2011/tee-shirt/message.txt -text
UserMeetings/2011/tee-shirt/npencils.black.ps -text
UserMeetings/2011/tee-shirt/npencils.ps -text
UserMeetings/2011/tee-shirt/npencils.sk -text
UserMeetings/2011/tee-shirt/pencil.sk -text
UserMeetings/2011/tee-shirt/pencils.eps -text
UserMeetings/2011/tee-shirt/pencils.pdf -text
UserMeetings/2011/tee-shirt/pencils.sk -text
UserMeetings/2011/tee-shirt/pencils.svg -text
UserMeetings/2011/tee-shirt/test.odp -text
UserMeetings/2011/tee-shirt/test.pdf -text
UserMeetings/2011/website/Plan-Bus-Metro-TISSEO.pdf -text
UserMeetings/2011/website/Plan-Tisseo.png -text
UserMeetings/2011/website/agenda.txt -text
UserMeetings/2011/website/index.html -text
UserMeetings/2011/website/location.html -text
UserMeetings/2011/website/logo_INSU.png -text
UserMeetings/2011/website/logo_PNPS.png -text
UserMeetings/2011/website/logo_PNST.png -text
UserMeetings/2011/website/logo_UPS.png -text
UserMeetings/2011/website/map_walking.pdf -text
UserMeetings/2011/website/participants.html -text
UserMeetings/2011/website/pencils.png -text
UserMeetings/2011/website/program.html -text
UserMeetings/2011/website/timetable68.pdf -text
UserMeetings/2012/README -text
UserMeetings/2012/agenda.txt -text
UserMeetings/2012/cache/1.c -text
UserMeetings/2012/cache/2.c -text
UserMeetings/2012/cache/3.c -text
UserMeetings/2012/cache/4.c -text
UserMeetings/2012/cache/5.c -text
UserMeetings/2012/cache/Makefile -text
UserMeetings/2012/cache/main.c -text
UserMeetings/2012/cache/mkcycle -text
UserMeetings/2012/cache/sz.h -text
UserMeetings/2012/cpu.f90 -text
UserMeetings/2012/gpu.f90 -text
UserMeetings/2012/index.php -text
UserMeetings/2013/agenda.txt -text
UserMeetings/2013/index.php -text
UserMeetings/2014/agenda.txt -text
UserMeetings/2014/index.php -text
UserMeetings/2015/agenda.txt -text
UserMeetings/2015/email_github.txt -text
UserMeetings/2015/index.php -text
UserMeetings/2016/agenda.txt -text
UserMeetings/2016/index.php -text
UserMeetings/2016/map_institute-local.png -text
UserMeetings/2016/talks/YinYang_talk.pdf -text
UserMeetings/2017/agenda.txt -text
UserMeetings/2017/index.php -text
UserMeetings/2018/agenda.txt -text
UserMeetings/2019/agenda.txt -text
UserMeetings/2019/index.php -text
UserMeetings/2020/agenda.txt -text
UserMeetings/2021/agenda.txt -text
UserMeetings/2022/agenda.txt -text
UserMeetings/2023/agenda.txt -text
UserMeetings/2023/group-photo.jpg -text
UserMeetings/2023/group-photo_armory-small.jpg -text
UserMeetings/2023/group-photo_armory.jpg -text
UserMeetings/2023/group-photo_dinner-small.jpg -text
UserMeetings/2023/group-photo_dinner.jpg -text
UserMeetings/2023/group-photo_small.jpg -text
UserMeetings/2023/index.php -text
UserMeetings/2023/map_institute-local.png -text
UserMeetings/2023/register.php -text
UserMeetings/2023/schedule.pdf -text
UserMeetings/2023/thanks.php -text
UserMeetings/idl/p.pro -text
UserMeetings/idl/participants.dat -text
/contact.php -text
/doc.php -text
doc/Publications_2022.pdf -text
doc/Publications_2023.pdf -text
doc/README -text
doc/citations.pdf -text
doc/faq.pdf -text
doc/faq.php -text
doc/git-best-practises.pdf -text
doc/git-getting-started.pdf -text
doc/hello_disk.pdf -text
doc/inc -text
doc/manual.pdf -text
doc/quick_start.pdf -text
/download.php -text
/form.php -text
highlights/inc -text
highlights/index.php -text
images/div_dark15.png -text
images/div_dark8.png -text
images/lightspread1855.png -text
images/multicolpng2.png -text
images/onlinewebsitebuilder.png -text
images/reflection_shadow60.png -text
images/shad50.png -text
images/waves2709.png -text
images/yourimage.png -text
inc/footer.inc -text
inc/header.inc -text
inc/home_right.inc -text
inc/menu.inc -text
inc/utils.inc -text
/index.php -text
/meetings.php -text
/news.php -text
/obtain.php -text
pics/2005a.jpg -text
pics/2005b.jpg -text
pics/2006a.jpg -text
pics/2006b.jpg -text
pics/2011a.jpg -text
pics/2011b.jpg -text
pics/2023a.jpg -text
pics/Perm.png -text
pics/alpha.png -text
pics/outflc2.png -text
pics/pencils_100x45.png -text
pics/pencils_16x16.ico -text
pics/pencils_16x16.png -text
pics/pencils_16x16.xpm -text
pics/pencils_240x110.png -text
pics/pencils_32x32.png -text
pics/pencils_64x64.png -text
pics/pencils_65x30.png -text
pics/ptimings.png -text
pics/redball.gif -text
/previous_news_items.php -text
/references.php -text
/rev-table_GC-SVN.csv -text
/rev-table_GH-SVN.csv -text
samples/1d-tests/convert.cut+paste -text
samples/1d-tests/expans.png -text
samples/1d-tests/expans_bfield.png -text
samples/1d-tests/expans_bfield_thumb.jpg -text
samples/1d-tests/expans_thumb.jpg -text
samples/1d-tests/inc -text
samples/1d-tests/riemann_bfield.png -text
samples/1d-tests/riemann_bfield_thumb.jpg -text
samples/1d-tests/sod_10-1000.php -text
samples/1d-tests/sod_10.png -text
samples/1d-tests/sod_100.png -text
samples/1d-tests/sod_1000.png -text
samples/1d-tests/sod_1000_thumb.jpg -text
samples/1d-tests/sod_100_nu0.028.png -text
samples/1d-tests/sod_100_thumb.jpg -text
samples/1d-tests/sod_10_nu0.014.png -text
samples/1d-tests/sod_10_thumb.jpg -text
samples/1d-tests/visc_shock/inc -text
samples/1d-tests/visc_shock/index.php -text
samples/1d-tests/visc_shock/sod_1000s.png -text
samples/1d-tests/visc_shock/sod_1000s_thumb.jpg -text
samples/1d-tests/visc_shock/sod_100s.png -text
samples/1d-tests/visc_shock/sod_100s_thumb.jpg -text
samples/1d-tests/visc_shock/sod_10s.png -text
samples/1d-tests/visc_shock/sod_10s_thumb.jpg -text
samples/2d-tests/A3+chi11+Ra1e5.png -text
samples/2d-tests/A3+chi11+Ra1e5_thumb.jpg -text
samples/2d-tests/conv-slab-2d.php -text
samples/2d-tests/conv-slab-2d.png -text
samples/2d-tests/conv-slab-2d2.png -text
samples/2d-tests/conv-slab-2d2_thumb.jpg -text
samples/2d-tests/conv-slab-2d_thumb.jpg -text
samples/2d-tests/convert.cut+paste -text
samples/2d-tests/inc -text
samples/corona/EM-MAG-Pz.png -text
samples/corona/Trace_171_20050908.jpg -text
samples/corona/corona_EUV-emission.png -text
samples/corona/inc -text
samples/corona/index.php -text
samples/inc -text
samples/index.php -text
samples/ism/b2.jpg -text
samples/ism/inc -text
samples/ism/index.php -text
samples/ism/pavB.png -text
samples/ism/rho.jpg -text
samples/ism/tt.jpg -text
samples/shearing-box/BH256_3D_mean_Bz=0b1_thumb.jpg -text
samples/shearing-box/inc -text
samples/shearing-box/index.php -text
samples/turbulence/helical-MHDturb32-4procs/bz_thumb.jpg -text
samples/turbulence/helical-MHDturb32-4procs/inc -text
samples/turbulence/helical-MHDturb32-4procs/index.php -text
samples/turbulence/hydro512f/inc -text
samples/turbulence/hydro512f/index.php -text
samples/turbulence/hydro512f/lnrho_thumb.jpg -text
samples/turbulence/hydro512f/uz_thumb.jpg -text
samples/turbulence/hydro512f/uz_thumb2.jpg -text
samples/turbulence/nonhelical-MHD/inc -text
samples/turbulence/nonhelical-MHD/index.php -text
samples/turbulence/nonhelical-MHD/pkt2304_hel_short2304pm100_kf60b_noforce.png -text
samples/turbulence/nonhelical-MHD/pkt2304_hel_short2304pm1_kf60b_noforce.png -text
samples/turbulence/nonhelical-MHD/pslice.png -text
samples/turbulence/rot512_Om0a/img_0000_thumb.jpg -text
/styles.css -text
/tests.php -text
/timings.php -text
